@import "../../constants/constants";

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        height: 7rem;
        width: 7rem;
        background-color: $color-white;
        // border: 1px solid orangered;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: .2rem;
            background-color: $color-primary-very-dark;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }

    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
       background-color: transparent; 
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(135deg);
        
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(-135deg);
    }
}