@import "../../constants//constants";

.filter-bar {
    display: flex;
    flex-wrap: wrap;

    position: sticky;
    left: 0;
    min-height: 3rem;
    background-color: $color-white;
}

.todo-input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: .7px solid black;
    border-top: .7px solid black;
}

.clear-filters-icon {
    color: $color-grey-dark-3;
    margin-right: .5rem;
}

