@import "../../constants/constants";

.form-button {
    height: 3rem;
    width: 9rem;
    background-color: black;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
    }

    &--google {
        background-color: $color-primary-5;
        width: 14rem;

        &:hover {
            background-color: $color-primary-5;
            color: black
        }
    }
}