@import "../../constants/constants";

.todo-items-container {

    min-width: 25vw;
    height: 100%;
    margin: 0 1.5rem;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
    border-radius: 3px;

    display: flex;
    flex-direction: column;

    &--cockpit {
        margin: 0;
        min-width: 0;
        flex-basis: 85%;
    }

    &__header-group {
        position: sticky;
        top: 0;
        z-index: 12;
        flex-basis: 20%;

    }

    &__title {
        display: block;
        background-color: $color-black;
        color: $color-white;
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        text-align: center;
    }

}

.header-top__action-icons {
    width: 100%;
   
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}