@import "../../constants/constants";

.todo-container {
  display: flex;
  flex-direction: row;
  height: 15rem;

  margin: 2rem 0 5rem 2rem;
}

.todo-item {
  perspective: 150rem;

  width: 35rem;
  height: 100%;

  transition: all 0.2s;
  padding: 1rem;

  &:hover {
    transform: translateY(-0.3rem) scale(1.04);
  }

  &:hover &__side--front--visible > &__icons {
    opacity: 0.9;
  }

  &:hover &__side--back--visible > &__icons {
    opacity: 0.9;
  }

  // ICONS

  &__text {
    width: 100%;
    height: calc(85% - 1rem);
    padding: 0 1.2rem;

    display: flex;
    flex-direction: column;
  }

  &__side {
    border-radius: 2px;
    border-bottom: 1px solid $color-black;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

    transition: all 0.8s ease;

    // FRONTSIDE STYLING

    &--front {
      transform: rotateX(180deg);
      z-index: -10;

      &--visible {
        transform: rotateX(0);
        z-index: 10;
      }

      & > .todo-item__text {
        justify-content: space-between;

        &--done {
          text-decoration: line-through;
        }

        &--pending {
          text-decoration: none;
        }
      }
    }

    // BACKSIDE STYLING

    &--back {
      transform: rotateX(-180deg);
      z-index: -10;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 20% 1fr 20%;
      align-items: center;

      &--visible {
        transform: rotateX(0);
        z-index: 10;
      }
    }
  }

  // INDIVIDUAL COMPONENTS

  &__title {
    &--front {
      font-size: 3rem;
    }

    &--back {
      grid-column: 1 / span 1;
      grid-row: 1 / 2;

      font-size: 1.5rem;
      margin: 0 1rem;
      font-weight: bold;
    }
  }

  &__icons {
    padding: 1rem 0 2rem 0;
    width: 100%;
    height: 15%;
    opacity: 0;

    transition: all 0.2s;

    &--back {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__details {
    &--front {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;

      display: flex;
      justify-content: space-between;
    }

    &--back {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      font-size: 1.2rem;
      border: 0.7px solid $color-black;
      padding: 0.5rem;
      overflow: auto;
      height: 90%;
      margin: 0 1rem;
    }
  }

  &__duedate {
    span {
      border: 1px solid black;
      padding: 0 0.5rem;
      background-color: $color-blue-dark;
      color: $color-grey-light-1;
    }

    &--back {
      grid-column: 1 / 2;
      justify-self: center;
    }
  }

  &__owner {
    span {
      border: 1px solid black;
      padding: 0 0.5rem;
      margin: 0 0.5rem;
      background-color: $color-grey-dark-1;
      color: $color-grey-light-1;
    }

    &--back {
      grid-column: 2 / 3;
      justify-self: center;
    }
  }

  &__text {
    &--done {
      text-decoration: line-through;
    }
  }
}

