@import "../../constants/constants";

.filter-card {
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: $color-black;
  color: white;

  &--highlighted {
    opacity: 70%;
  }

  &--disabled {
    opacity: 70%;
    background-color: lightgrey;
    color: grey;
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0.5rem;
  }

  &--disabled > &__button,
  &--highlighted > &__button {
    cursor: default;
  }
}
