$color-primary-1: #CDE0E3;
$color-primary-2: #69969C;
$color-primary-3: #66949A;
$color-primary-4: #427A82;
$color-primary-5: #246068;
$color-primary-6: #0E464E;
$color-primary-7: #012E34;

$color-white: #f7f7fa;
$color-black: #000;

$color-grey-light-3: #f0eeee;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-custom-1: #206a5d;
$color-custom-2: #00416d;
$color-custom-3: #fa1616;
$color-custom-4: #F7B801;
$color-custom-5: #eb8f8f; 

$sorted-item-background: linear-gradient(to right, $color-primary-5, 60%, $color-primary-3);

%duedate-format {
    padding: 0 0.3rem;
    background-color: $color-black;
    color: $color-white;
    text-align: center;
}

%owner-format {
    @extend %duedate-format;
}

%non-selectable {
    color: currentColor;
    background-color: transparent;
}