$color-blue-light-1: #bbe1fa;
$color-blue-light-2: #3282b8;
$color-blue-dark: #0f4c75;
$color-blue-very-dark: #1b262c;

$color-white: #eee;
$color-black: #000;

$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-grey-light-3: #f0eeee;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-custom-1: #3D348B;
$color-custom-2: #7678ED;
$color-custom-3: #F7B801;
$color-custom-4: #F18701;
$color-custom-5: #F35B04;

$sorted-item-background: linear-gradient(to right, $color-custom-3, 80%, $color-custom-4);

%duedate-format {
    padding: 0 0.3rem;
    background-color: $color-black;
    color: $color-white;
    text-align: center;
}

%owner-format {
    @extend %duedate-format;
}

%non-selectable {
    color: currentColor;
    background-color: transparent;
}