.icon {
    float: right;

    transition: all .2s;

    &--large {
        font-size: 3rem;
    }

    &--small {
        font-size: 1.5rem;
        margin: 0 .4rem
    }

    &:hover {
        transform: translateY(-0.3rem) scale(1.04);
    }
  }