.icon {
    float: right;
    margin: 0 1rem;
    transition: all .2s;

    &--large {
        font-size: 3rem;
    }

    &--small {
        font-size: 1.8rem;
    }

    &:hover {
        transform: translateY(-0.3rem) scale(1.04);
    }
  }