@import "../../constants/constants";

.todo-items {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    padding-bottom: 7rem;
}

.droppable {
    &--is-dragging-over {
        background-color: $color-primary-1;
    }
}
