@import "../../constants/constants";

.header-top {
  height: 4rem;
  background-color: greenyellow;
  width: 100%;

  align-items: center;

  &__items {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item-box {
    font-size: 1.2rem;

    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }

  &__item--sorted {
    border: 1px solid blue;
  }

  &__item::selection {
    @extend %non-selectable;
  }
}
