@import "../../constants/constants";

.header-top {
  height: 4rem;
  background-color: $color-primary-6;
  color: $color-primary-1;
  width: 100%;

  align-items: center;

  &__items {
    height: 100%;
    display: flex;
    padding: 0 .5rem;
    justify-content: space-around;
    align-items: center;
  }

  &__item-box {
    font-size: 1.3rem;
    height: 100%;
    padding: 0 .3rem;

    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: .5rem;
    }

    &--sorted {
      background-color: $color-primary-2;
      background-image: $sorted-item-background;
    }

  }

  &__item--sorted {
    border: 1px solid blue;
  }

  &__item::selection {
    @extend %non-selectable;
  }
}
