@import "../../constants/constants";

.todo-area {
    display: flex;
    flex-direction: column;

    align-items: center;
    // background-color: orangered;
}


.todo-items {
    display: flex;
    flex-direction: column;
}

.droppable {
    &--is-dragging-over {
        background-color: $color-blue-dark;
    }
}