@import "../../constants/constants";

.todo-item-small {
  height: 5rem;
  width: 55rem;
  border: 1px solid black;
  font-size: 1.2rem;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
  background-color: $color-white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &--isdragging {
    background-color: $color-blue-light-1;
  }

  &__title {
    flex: 0 0 30%;

    border: 1px solid black;
    padding: 0 0.5rem;
  }

  &__duedate {
    flex: 0 0 30%;

    border: 1px solid black;
    padding: 0 0.5rem;
    background-color: $color-blue-dark;
    color: $color-grey-light-1;
  }

  &__owner {
    flex: 0 0 30%;

    border: 1px solid black;
    padding: 0 0.5rem;
    background-color: $color-grey-dark-1;
    color: $color-grey-light-1;
  }
}
