@import "../../constants/constants";

.todo-item-small {
  height: 5rem;
  width: 97%;
  border: 1px solid black;
  font-size: 1.2rem;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
  margin: .5rem;
  border-radius: 3%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &--isdragging {
    background-color: $color-blue-light-1;
  }

  &__title {
    flex: 0 0 45%;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-white;
  }

  &__duedate {
    flex: 0 0 20%;

    @extend %duedate-format;
  }

  &__owner {
    flex: 0 0 20%;
    align-self: center;
    @extend %owner-format;
  }
}
