@import "../../constants/constants";

.todo-item-small {
  height: 4rem;
  width: 97%;
  border: 1px solid black;
  font-size: 1.1rem;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
  margin: .5rem;
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &--isdragging {
    background-color: $color-primary-1;
  }

  &__title {
    flex: 0 0 40%;
    padding: 0 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-black;
  }

  &__duedate {
    // font-size: 1rem;
    flex: 0 0 30%;

    @extend %duedate-format;
  }

  &__owner {
    flex: 0 0 20%;
    align-self: center;
    @extend %owner-format;
  }
}
