@import "../../constants/constants";

.overlay {
  &--opaque {
    // opacity: 0.5;
    background-color: rgba($color-black, 0.5)
  }
  &--transparent {
    opacity: 0;
  }

  &--show-true {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    

    z-index: 20;
  }

  &--show-false {
    height: 0%;
    width: 0%;
  }

  &__children {
    z-index: 30;
  }
}
