@import "../../constants/constants";

.overlay {
  &--opaque {
    opacity: 0.5;
  }
  &--transparent {
    opacity: 0;
  }

  &--show-true {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-black;

    z-index: 10;
  }

  &--show-false {
    height: 0%;
    width: 0%;
  }
}
