.input-container {
    text-align: center;

    .input-box {
        display: inline-block;
        width: 70vw;
        // border: 2px solid black;
        margin: 2rem 0;
        padding: 2rem 0;

    }
}

