@import "../../constants/mixins";
@import "../../constants//constants";

.search-form {
  display: flex;
  padding: .5rem;

}

.search-field {
  font-size: 1.5rem;
  font-family: inherit;
  padding: .7rem;
  border: none;
  width: 30vw;
  border: 2px solid red;
  

  &:focus {
    outline: none;
  }

}
