@import "../../constants/mixins";
@import "../../constants//constants";

.todo-input {
  &__search-form {
    width: 100%;
    display: flex;
    padding: 0.5rem;
  }

  &__search-field {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 0.7rem;
    border: none;
    width: 100%;
    border: 2px solid red;

    &:focus {
      outline: none;
    }
  }
}
