.app {
  width: 100vw;
  height: 100vh;

  display: flex;

}

.app-main {
  height: 100%;
  top: 0px;
  border: 3px solid orangered;
  overflow-x: auto; //scroll;
  overflow-y: auto; //visible;

  &__right-side {
    // flex-basis: 70%
  }
}
