.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.app-main {
  height: 100%;
  top: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-basis: 100%;
}

.filter-bar-main {
  padding-bottom: 2rem;
}

